<!DOCTYPE html>
<html>
<head>
<style>
th, td {
  padding: 15px;
  text-align: center;

}
table th {   
  background-color: #ccc;
  font-weight: bold;
}

.table-style td {
border:1px solid #000;
}

</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<h4>Homework #3: Upgrade UI to Dynamic Using Service API</h4>

<label for="dateselector">Select Date from input Calendar <input type="text" id="dateselector"></p>
<div id="weather-data"></div>
<script>

$(function(){
  $( "#dateselector" ).datepicker({
		changeMonth: true,
		changeYear: true,
		numberOfMonths: 3,
		showButtonPanel: true,
		minDate: new Date(2013,0,01),
		maxDate: new Date(2019,2,27)
	});

  $("#dateselector").change(function(){
    console.log('datge change ',$(this).val())
    var val = $(this).val();
    if(val.length ==0)
    {
      alert('Please Select Some Date');
    }
    else if(val.length > 10)
    {
      alert('Please Select Proper Date');
    }
    else{
      var date, rq, htm, url;

      date = val.substring(6,10) + val.substring(0,2) + val.substring(3,5);
	  url = '/forecast/'+date;
	  rq = new XMLHttpRequest();
      rq.open('GET', url); 
	  
	  htm = "<table class='table-style'><tr><th>DATE</th><th>TMIN</th><th>TMAX</th></tr>";
      rq.onload = function(){
        var res = JSON.parse(rq.responseText);
        
        for (i = 0; i < 6; i++) {
            htm += "<tr><td>"+res[i].DATE+"</td><td>"+res[i].TMIN+"</td><td>"+res[i].TMAX+"</td></tr>";
        }
        htm += "</table>";
		$("#weather-data").html(htm);
      };
	  rq.send();
    }
  });
});
    
</script>

</body>
</html>
